# Ignore data and experiment folders
Data/
yolov5/

# Ignore YOLO dataset splits
yolo_dataset_version_1/images/train/
yolo_dataset_version_1/images/val/
yolo_dataset_version_1/images/test/
yolo_dataset_version_1/labels/train/
yolo_dataset_version_1/labels/val/
yolo_dataset_version_1/labels/test/

yolo_dataset_version_2/images/train/
yolo_dataset_version_2/images/val/
yolo_dataset_version_2/images/test/
yolo_dataset_version_2/labels/train/
yolo_dataset_version_2/labels/val/
yolo_dataset_version_2/labels/test/
yolo_dataset_version_2/tiles/
yolo_dataset_version_2/augmented_tiles/

yolo_dataset_version_3/images/train/
yolo_dataset_version_3/images/val/
yolo_dataset_version_3/images/test/
yolo_dataset_version_3/labels/train/
yolo_dataset_version_3/labels/val/
yolo_dataset_version_3/labels/test/

yolo_dataset_version_4/images/train/
yolo_dataset_version_4/images/val/
yolo_dataset_version_4/images/test/
yolo_dataset_version_4/labels/train/
yolo_dataset_version_4/labels/val/
yolo_dataset_version_4/labels/test/

yolo_dataset_version_5/images/train/
yolo_dataset_version_5/images/val/
yolo_dataset_version_5/images/test/
yolo_dataset_version_5/labels/train/
yolo_dataset_version_5/labels/val/
yolo_dataset_version_5/labels/test/

yolo_dataset_version_6/images/train/
yolo_dataset_version_6/images/val/
yolo_dataset_version_6/images/test/
yolo_dataset_version_6/labels/train/
yolo_dataset_version_6/labels/val/
yolo_dataset_version_6/labels/test/

yolo_dataset_version_7/images/train/
yolo_dataset_version_7/images/val/
yolo_dataset_version_7/images/test/
yolo_dataset_version_7/labels/train/
yolo_dataset_version_7/labels/val/
yolo_dataset_version_7/labels/test/

yolo_dataset_version_8/images/train/
yolo_dataset_version_8/images/val/
yolo_dataset_version_8/images/test/
yolo_dataset_version_8/labels/train/
yolo_dataset_version_8/labels/val/
yolo_dataset_version_8/labels/test/

# Ignore Python cache
__pycache__/