# Ignore data and experiment folders
Data/
Checked Data/
data_with_annotations/
models_BGR/
models_RGB/

# Ignore YOLO dataset splits
yolo_dataset_version_1/images/train/
yolo_dataset_version_1/images/val/
yolo_dataset_version_1/images/test/
yolo_dataset_version_1/labels/train/
yolo_dataset_version_1/labels/val/
yolo_dataset_version_1/labels/test/

yolo_dataset_version_2/images/train/
yolo_dataset_version_2/images/val/
yolo_dataset_version_2/images/test/
yolo_dataset_version_2/labels/train/
yolo_dataset_version_2/labels/val/
yolo_dataset_version_2/labels/test/
yolo_dataset_version_2/tiles/
yolo_dataset_version_2/augmented_tiles/

# Ignore Python cache
__pycache__/